<a href="https://colab.research.google.com/github/mai0elkady/Disaster_response_pipelines/blob/main/notebooks/ETL_Pipeline_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# load messages dataset
messages = pd.read_csv("/content/drive/MyDrive/UdacityND/project2/data/disaster_messages.csv")
print(messages.head())
print(messages.shape)
print(messages.isnull().values.any())
print(messages.tail())
print(messages['message'].isnull().values.any())

   id  ...   genre
0   2  ...  direct
1   7  ...  direct
2   8  ...  direct
3   9  ...  direct
4  12  ...  direct

[5 rows x 4 columns]
(26248, 4)
True
          id                                            message original genre
26243  30261  The training demonstrated how to enhance micro...      NaN  news
26244  30262  A suitable candidate has been selected and OCH...      NaN  news
26245  30263  Proshika, operating in Cox's Bazar municipalit...      NaN  news
26246  30264  Some 2,000 women protesting against the conduc...      NaN  news
26247  30265  A radical shift in thinking came about as a re...      NaN  news
False

In [8]:
# load categories dataset
categories = pd.read_csv("/content/drive/MyDrive/UdacityND/project2/data/disaster_categories.csv")
print(categories.head())
print(categories.isnull().values.any())
print(categories.shape)
print(categories.tail())

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...
False
(26248, 2)
          id                                         categories
26243  30261  related-0;request-0;offer-0;aid_related-0;medi...
26244  30262  related-0;request-0;offer-0;aid_related-0;medi...
26245  30263  related-1;request-0;offer-0;aid_related-0;medi...
26246  30264  related-1;request-0;offer-0;aid_related-1;medi...
26247  30265  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [9]:
print(sum(messages['id']==categories['id']))
print(len(messages['id'].unique()))
print(len(categories['id'].unique()))

26248
26180
26180

In [10]:
# merge datasets
df = pd.merge(messages, categories, how="inner",on=['id'])

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [11]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(';',expand=True)
categories.head()

          0          1        2   ...      33               34               35
0  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  ...  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0

[5 rows x 36 columns]

In [12]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x[0:-2]) 
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [13]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

0    related    request    offer  ...    cold    other_weather    direct_report
0  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  ...  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0

[5 rows x 36 columns]

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [14]:
for column in categories:
    
    # set each value to be the last character of the string
    categories[column] = categories[column].astype(str).str[-1]
    
    # convert column from string to numeric
    categories[column] = pd.to_numeric(categories[column])
    
    # print unique values
    print("for column "+str(column))
    print(categories[column].unique())
categories.head()

for column related
[1 0 2]
for column request
[0 1]
for column offer
[0 1]
for column aid_related
[0 1]
for column medical_help
[0 1]
for column medical_products
[0 1]
for column search_and_rescue
[0 1]
for column security
[0 1]
for column military
[0 1]
for column child_alone
[0]
for column water
[0 1]
for column food
[0 1]
for column shelter
[0 1]
for column clothing
[0 1]
for column money
[0 1]
for column missing_people
[0 1]
for column refugees
[0 1]
for column death
[0 1]
for column other_aid
[0 1]
for column infrastructure_related
[0 1]
for column transport
[0 1]
for column buildings
[0 1]
for column electricity
[0 1]
for column tools
[0 1]
for column hospitals
[0 1]
for column shops
[0 1]
for column aid_centers
[0 1]
for column other_infrastructure
[0 1]
for column weather_related
[0 1]
for column floods
[0 1]
for column storm
[0 1]
for column fire
[0 1]
for column earthquake
[0 1]
for column cold
[0 1]
for column other_weather
[0 1]
for column direct_report
[0 1]

0  related  request  offer  ...  cold  other_weather  direct_report
0        1        0      0  ...     0              0              0
1        1        0      0  ...     0              0              0
2        1        0      0  ...     0              0              0
3        1        1      0  ...     0              0              0
4        1        0      0  ...     0              0              0

[5 rows x 36 columns]

In [15]:
categories = categories.drop(['child_alone'],axis = 1)
categories['related'][categories['related']==2] = 0 # change 2 to 0
print(categories.describe())

0           related       request  ...  other_weather  direct_report
count  26386.000000  26386.000000  ...   26386.000000   26386.000000
mean       0.759569      0.171038  ...       0.052263       0.193777
std        0.427353      0.376549  ...       0.222560       0.395264
min        0.000000      0.000000  ...       0.000000       0.000000
25%        1.000000      0.000000  ...       0.000000       0.000000
50%        1.000000      0.000000  ...       0.000000       0.000000
75%        1.000000      0.000000  ...       0.000000       0.000000
max        1.000000      1.000000  ...       1.000000       1.000000

[8 rows x 35 columns]

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [16]:
# drop the original categories column from `df`
df = df.drop(['categories'],axis = 1)

df.head()

   id  ...   genre
0   2  ...  direct
1   7  ...  direct
2   8  ...  direct
3   9  ...  direct
4  12  ...  direct

[5 rows x 4 columns]

In [17]:
print(categories.shape)
print(df.shape)

(26386, 35)
(26386, 4)

In [18]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df,categories],axis = 1)
df.head()

   id  ... direct_report
0   2  ...             0
1   7  ...             0
2   8  ...             0
3   9  ...             0
4  12  ...             0

[5 rows x 39 columns]

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [19]:
# check number of duplicates
print(df.shape)
print(df.duplicated().sum())

(26386, 39)
170

In [20]:
# drop duplicates
df = df.drop_duplicates()

In [21]:
# check number of duplicates
print(df.shape)
print(df.duplicated().sum())

(26216, 39)
0

In [22]:
print(df['message'].isnull().values.any())

False

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [23]:
engine = create_engine('sqlite:///disaster_data.db')
df.to_sql('messages_categories', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.